body {
    background-color: #111111;
    color: #fefebe;
    margin: auto;
    width: 70%;
}

@media (orientation:landscape) {
    body {
        font-size: 5vh;
    }
}

@media (orientation:portrait) {
    body {
        font-size: 5vw;
    }
}

ul,
#myUL {
    list-style-type: none;
}

#myUL {
    margin: 0;
    padding: 0;
}

li {
    margin: 3%;
    padding: 0;
    background-color: #060113;
    /*border: 2px solid #0fed07;*/
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 10px 0px rgba(0, 255, 255, 0.7);
}

@media (orientation:landscape) {
    li {
        box-shadow: 0px 1vh 2vh 0px rgba(0, 255, 255, 0.7);
    }
}

@media (orientation:portrait) {
    li {
        box-shadow: 0px 1vw 2vw 0px rgba(0, 255, 255, 0.7);
    }
}

.caret {
    cursor: pointer;
    user-select: none;
    /* Prevent text selection */
}

.caret::before {
    content: "\25B6";
    color: #fefeee;
    display: inline-block;
    margin-right: 6px;
}

.caret-down::before {
    transform: rotate(90deg);
}

.empty-caret {
    cursor: pointer;
    user-select: none;
}

.empty-caret::before {
    content: "\25B7";
    color: #fefeee;
    display: inline-block;
    margin-right: 6px;
}

.nested {
    display: none;
}

.active {
    display: block;
    margin: 0;
}

.start-time {
    color: #f29913;
    margin: 1vh;
    border: 1px solid #f29913;
}

.end-time {
    color: #13f213;
    margin: 1vh;
    border: 1px solid #13f213;
}

@media (orientation:landscape) {

    .end-time,
    .start-time {
        font-size: 3vh;
    }
}

@media (orientation:portrait) {

    .end-time,
    .start-time {
        font-size: 3vw;
    }
}

.side-buttons {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

#top {
    margin: 0;
    padding: 0;
    background-color: #181818;
    border: 0;
    border-radius: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

button {
    height: 10vh;
    width: 10vh;
    font-size: 5vh;
    border: 1px solid #ddd;
    background-color: #010801;
    box-shadow: 0px 5px 10px 0px rgba(255, 0, 255, 0.7);
    color: #fefeee;
    border-radius: 30%;

    -o-transition: background-color .2s ease-in;
    -moz-transition: background-color .2s ease-in;
    -webkit-transition: background-color .2s ease-in;
    transition: background-color .2s ease-in;
}

@media (orientation:landscape) {
    button {
        font-size: 5vh;
        width: 10vh;
        height: 10vh;
        box-shadow: 0px 1vh 2vh 0px rgba(255, 0, 255, 0.7);
        margin: 0.5vh;
    }
}

@media (orientation:portrait) {
    button {
        font-size: 5vw;
        width: 10vw;
        height: 10vw;
        box-shadow: 0px 1vw 2vw 0px rgba(255, 0, 255, 0.7);
        margin: 0.5vw;
    }
}

button:hover {
    background-color: #e5e5e5;
    color: #13db1d;
}

.task-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

dialog {
    background-color: #181818;
    color: #fefebe;
    border: 2px solid #0fed07;
    border-radius: 5px;
    padding: 8px;
}

dialog::backdrop {
    backdrop-filter: blur(20px);
}

@media (orientation:landscape) {
    #summary-view {
        font-size: 3vh;
    }
}

@media (orientation:portrait) {
    #summary-view {
        font-size: 3vw;
    }
}

#summary-close-container {
    position: fixed;
    right:    15px;
    top:      15px;
}
