body {
    font-size: 28px;
    background-color: #181818;
    color: #fefebe;
    margin: auto;
    width: 70%;
}

ul,
#myUL {
    list-style-type: none;
}

#myUL {
    margin: 0;
    padding: 0;
}

li {
    margin: 3%;
    padding: 0;
    background-color: #022331;
    border: 2px solid #0fed07;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.caret {
    cursor: pointer;
    user-select: none;
    /* Prevent text selection */
}

.caret::before {
    content: "\25B6";
    color: #fefeee;
    display: inline-block;
    margin-right: 6px;
}

.caret-down::before {
    transform: rotate(90deg);
}

.empty-caret {
    cursor: pointer;
    user-select: none;
}

.empty-caret::before {
    content: "\25B7";
    color: #fefeee;
    display: inline-block;
    margin-right: 6px;
}

.nested {
    display: none;
}

.active {
    display: block;
    margin: 0;
}

.start-time {
    font-size: xx-small;
    color: #f29913;
    border: 1px solid #f29913;
    margin: 8px;
}

.end-time {
    font-size: xx-small;
    color: #13f213;
    border: 1px solid #13f213;
    margin: 8px;
}

.no-time {
    font-size: xx-small;
    color: #f21313;
    border: 1px solid #f21313;
    margin: 8px;
}

#top {
    margin: 0;
    padding: 0;
    background-color: #181818;
    border: 0;
    border-radius: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

button {
    border: 1px solid #ddd;
    background-color: #032f05;
    padding: 4px 12px;
    color: #fefeee;
    border-radius: 30%;

    -o-transition: background-color .2s ease-in;
    -moz-transition: background-color .2s ease-in;
    -webkit-transition: background-color .2s ease-in;
    transition: background-color .2s ease-in;
}

button:hover {
    background-color: #e5e5e5;
    color: #13db1d;
}

.task-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

dialog {
    background-color: #181818;
    color: #fefebe;
    border: 2px solid #0fed07;
    border-radius: 5px;
    padding: 8px;
}